<div id="footer">

  <section class="mailing-list">
    <h1>Never miss an awesome deal. Join our mailing list.</h1>
    <%= link_to 'Get Our Updates' %>
  </section>

  <div class="grey">
    <nav class="navigation">
      <h1>Navigation</h1>
      <ul>
        <li><%= link_to 'Local Requests' %></li>
        <li><%= link_to 'Terms of Service' %></li>
        <li><%= link_to 'How It Works' %></li>
        <li><%= link_to 'Privacy Policy' %></li>
        <li><%= link_to 'Help' %></li>
        <li><%= link_to 'Marketplace Rules' %></li>
        <li><%= link_to 'Safety' %></li>
        <li><%= link_to 'Blog' %></li>
        <li><%= link_to 'Guarantee' %></li>
        <li><%= link_to 'Team' %></li>
      </ul>
    </nav>
    <nav class="social">
      <h1>Social</h1>
      <ul>
        <li class="twitter"><a href="http://twitter.com/" target="_blank">Twitter</a></li>
        <li class="rss"><a href="http://twitter.com/" target="_blank">RSS</a></li>
        <li class="facebook"><a href="http://twitter.com/" target="_blank">Facebook</a></li>
        <li class="youtube"><a href="http://twitter.com/" target="_blank">YouTube</a></li>
        <li class="pinterest"><a href="http://twitter.com/" target="_blank">Pinteres</a></li>
      </ul>
    </nav>
    <section class="mobile">
      <h1>Get the Mobile App</h1>
      <p>Available on the iPhone and Android. Enter your mobile number and we'll text you a link.</p>
      <form>
        <input type="text" placeholder="Mobile number" />
        <span class="valid"></span>
      </form>
    </section>
  </div>

</div>