<div id="sidebar">
  <nav>
    <h1>Categories</h1>
    <ul>
      <li><%= link_to 'Phone Accessories' %></li>
      <li><%= link_to 'Jewerly' %></li>
      <li><%= link_to 'Computer' %></li>
      <li><%= link_to 'Fashion' %></li>
      <li><%= link_to 'School' %></li>
    </ul>
  </nav>
</div>