<meta charset="utf-8">
<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title><%= title %></title>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport">
<%== meta_data_tags %>
<%= favicon_link_tag image_path('favicon.ico') %>
<%= stylesheet_link_tag 'store/all', :media => 'screen' %>
<%= csrf_meta_tags %>
<%= javascript_include_tag 'store/all' %>
<!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script>
<![endif]-->

<!-- Start of Woopra Code -->
<script type="text/javascript">
  function woopraReady(tracker) {
      tracker.setDomain('nearfive.com');
      tracker.setIdleTimeout(300000);
      tracker.track();
      return false;
  }
  (function() {
      var wsc = document.createElement('script');
      wsc.src = document.location.protocol+'//static.woopra.com/js/woopra.js';
      wsc.type = 'text/javascript';
      wsc.async = true;
      var ssc = document.getElementsByTagName('script')[0];
      ssc.parentNode.insertBefore(wsc, ssc);
  })();
  var _kmq = _kmq || [];
  var _kmk = _kmk || 'e8fdb2c0e6cdc2f7c60b09d83d4dc1814318d758';
  function _kms(u){
    setTimeout(function(){
      var d = document, f = d.getElementsByTagName('script')[0],
      s = d.createElement('script');
      s.type = 'text/javascript'; s.async = true; s.src = u;
      f.parentNode.insertBefore(s, f);
    }, 1);
  }
  _kms('//i.kissmetrics.com/i.js');
  _kms('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');
  _kmq.push(['record', 'Conversion']);
</script>
<!-- End of Woopra Code -->

<%= yield :head %>
