<ul class="home-products">
  <% @products.each do |product| %>
  <li class="<%= cycle('', 'even') %>">
    <article>
      <%= link_to product do %>
        <%= small_image(product, class: 'image') %>
        <h1><%= product.name %></h1>
        <p>$<%= product.price %></p>
      <% end %>
    </article>
  </li>
  <% end %>
</ul>