<ul class="home-products">
  <% @products.each do |product| %>
  <li class="<%= cycle('', 'even') %>">
    <article>
      <%= link_to product do %>
        <% if product.is_free_shipping %>
          <i>Free Shipping</i>
        <% end %>
        <%= product_image(product, class: 'image', height: 260) %>
        <h1><%= product.name %></h1>

        <% if product.is_free_shipping %>
        <% end %>

        <p><%= number_to_currency(product.price, :precision => 0) %></p>
      <% end %>
    </article>
  </li>
  <% end %>
</ul>

<script>
  $('ul.home-products').infiniteProductList();
</script>