<div class="product-show-top">
  <%= link_to 'Back', root_path %>
</div>

<div class="product-show-left">

  <h1 class="product-show-title"><%= @product.name %></h1>

  <div class="product-show-image">
    <%= product_image(@product, class: 'main', width: '100%') %>
    <% if @product.images.size > 1 %>
    <div class="product-show-more-images">
      <% @product.images.each do |image| %>
      <%= link_to image_tag(image.attachment.url(:mini), height: 42), image.attachment.url(:product) %>
      <% end %>
    </div>
    <% end %>
    <p class="product-show-favorite">67 People Love Myriah</p>
  </div> <!-- .product-show-image -->

  <div class="product-show-description">

    <div class="product-show-share">

      <div class="product-show-share-facebook">
        <div class="fb-like" data-send="false" data-layout="button_count" data-width="120" data-show-faces="false"></div>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=351277491621476";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
      </div> <!-- .facebook -->

      <div class="product-show-share-twitter">
        <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div> <!-- .twitter -->

      <div class="product-show-share-google">
        <!-- Place this tag where you want the +1 button to render. -->
        <div class="g-plusone"></div>
        <!-- Place this tag after the last +1 button tag. -->
        <script type="text/javascript">
          (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
          })();
        </script>
      </div> <!-- .google -->

      <div class="product-show-share-pinterest">
        <a href="http://pinterest.com/pin/create/button/?url=PRODUCT_URL_HERE&media=PRODUCT_IMAGE_HERE&description=PRODUCT_DESCRIPTION_HERE" class="pin-it-button" count-layout="horizontal"><img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" /></a>
      </div> <!-- .pinterest -->

    </div> <!-- .product-show-share -->

    <div class="product-show-description-text">
      <h1>Mobile oil change at your home or office</h1>
      <p><%= @product.description %></p>
    </div>
  </div> <!-- product-show-description -->

  <div class="product-show-place-order">
    <p class="new">This listing is brand spankin' new!</p>
    <a class="order" href="#">Place Order <span>$99</span></a>
  </div>

</div> <!-- .product-show-left -->

<div class="product-show-right">

  <%= form_for :order, :url => populate_orders_url do |f| %>

    <div class="product-show-buy">
      <%= f.submit 'I want one' %>
      <span>$<%= @product.price %></span>
    </div>

    <p class="product-show-secure">Five and Tens payments are <a href="">safe and secure</a></p>

    <div class="product-show-options">

      <% if @product.has_variants? %>

      <%= hidden_field_tag "quantity", 1 %>
      <section class="product-show-variants">
        <h1>Choose Variant</h1>
        <select name="products[<%= @product.id %>]">
          <% @product.variants.each do |variant| %>
          <option value="<%= variant.id %>"><%= variant.options_text %></option>
          <% end %>
        </select>
      </section>

      <% end %>

      <div class="product-show-options-links">
        <a href="">Bulk Discount</a>
        <a href="">Ask a Question</a>
      </div>
      <section class="product-show-free-shipping">
        <h1>Free Shipping!</h1>
        <p>This item ships for free, can't beat that. Now can you? Need it sooner, we can do that.</p>
      </section>
    </div> <!-- .product-show-options -->
  
  <% end %>

  <section class="product-show-related">
    <h1>More from Angelo Collaco</h1>
    <ul>
      <% @product.relatives.each do |prod|%>
        <li>
          <article>
            <%= product_image(prod, class: 'image') %>
            <h1><a href=""><%= prod.name %></a> for <%= number_to_currency(prod.price) %></h1>
          </article>
        </li>
      <% end %>
    </ul>
    <a class="see-all" href="">See all 7 items from Angelo Colleco</a>
  </section> <!-- .product-show-related -->

</div> <!-- .product-show-right -->